@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::selection{
  color:rgb(232, 145, 47);
  background-color: rgb(23, 23, 25, 0.6);
}

:root {
  --progress-width: 0;
  --buffered-width: 0;
  --buffered-left: 0;
}

.progress-bar::-webkit-slider-thumb {
  z-index: 4;
  position: relative;
}

.progress-bar::before {
  transform: scaleX(var(--progress-width));
  z-index: 3;
}

.progress-bar::after {
  transform: scaleX(var(--buffered-width));
  transform-origin: left;
  z-index: 2;
}
